<form name="form" ng-submit='submit()'>
	<div>
		<label for="username">ID</label>
		<input type="text" name="username" id="username" ng-model= 'username' required />
		<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
		{{errormessage2}}
	</div>
	<div>
		<label for="password">PWD</label>
		<input type="password" name="password" id="password" ng-model="password" required />
		<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
	</div>
	<div>
		<label for="password2">confirm</label>
		<input type="password" name="password2" id="password2" ng-model="password2" required />
		{{errormessage}}
	</div>
	<div>
		<button type="submit" ng-disabled="form.$invalid">sign in</button>
	</div>
</form>
